/project/local_settings.py

#sqlite development experiments
/project/*.db

# General
*~
*.swp
*.pyc
*.pyo
*.log
*.bak
*.backup

# Translations
*.mo

# /docs/
/docs/_build/

/.cache/
/project/.coverage
