{% extends "terminator/concept_source.html" %}
{% load i18n %}
{% comment %}
Copyright 2018 F Wolff

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block reference_material %}
<div class="flexcol-reference">
    <div class="reference_language">
      {% with term=source_language.terms|first %}
          <span class="reference_source"
                title="{{ term.language.name }}">({{ term.language.iso_code }})
          </span>
      {% endwith %}
      <div class="reference_terms">
        {% for term in source_language.terms %}
          <span
              class="{{ term.administrative_status_id }}"
              lang="{{ term.language_id }}"
              {% with status=term.administrative_status %}
              {% if status %}
                  title="{% blocktrans %}A term marked “{{ status }}”{% endblocktrans %}"
              {% else %}
                  title="{% blocktrans %}A suggested term{% endblocktrans %}"
              {% endif %}
              {% endwith %}
              >
                {{ term.translation_text }}{% if not forloop.last %}{% trans ", " %}{% endif %}</span>
        {% endfor %}
      </div>
      {% with definition=source_language.definition %}
      <div class="reference_body" lang="{{ definition.language_id }}">
        {{ definition.text }}
      </div>
      {% endwith %}
    </div>

    {% for lang, data in other_languages.items|dictsort:0 %}
    <div class="reference_language">
      {% with term=data.terms|first %}
          <span class="reference_source"
                title="{{ term.language.name }}">({{ lang }})
          </span>
      {% endwith %}
      <div class="reference_terms">
        {% for term in data.terms %}
          <span
              class="{{ term.administrative_status_id }}"
              lang="{{ term.language_id }}"
              {% with status=term.administrative_status %}
              {% if status %}
                  title="{% blocktrans %}A term marked “{{ status }}”{% endblocktrans %}"
              {% else %}
                  title="{% blocktrans %}A suggested term{% endblocktrans %}"
              {% endif %}
              {% endwith %}
              >
                {{ term.translation_text }}{% if not forloop.last %}{% trans ", " %}{% endif %}</span>
        {% endfor %}
      </div>
      {% with definition=data.definition %}
      <div class="reference_body" lang="{{ definition.language_id }}">
        {{ definition.text }}
      </div>
      {% endwith %}
    </div>
    {% endfor %}
</div>
{% endblock reference_material %}

    {% block prev_next %}
        {% include "terminator/prev_next_concept_snippet.html" with concept=concept target="terminator_concept_target" lang=current_language %}
    {% endblock %}

{% block content %}
{% endblock %}
