{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}
{% load cache %}
{% load humanize %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}
    {% blocktrans with language=current_language %}{{ concept }} — {{ language }} — Terminator{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    » <a href="{% url "terminator_glossary_detail" pk=concept.glossary.pk %}">{{ concept.glossary }}</a>
    » <a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a>
    » <a href="{% url "terminator_concept_detail_for_language" pk=concept.pk lang=current_language.pk %}">{{ current_language }}</a>
{% endblock %}


{% block wide_content%}


    {% block contributions %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{{ concept }}</h1>

    <div class="flex">

        <div class="flexcol">
    <p {% if message_class %}class="{{ message_class }}"{% endif %}>
        {% if message %}
            {{ message|truncatewords:"20"|truncatechars:"100" }}
        {% elif may_edit %}
            {% blocktrans %}Feel free to contribute improvements.{% endblocktrans %}
        {% else %}
            {% blocktrans %}You can not currently change content here.{% endblocktrans %}
        {%  endif %}
    </p>

            <form method="post" action="">
                {% csrf_token %}
                {% for translation in translations %}
                  {% if translation.administrative_status_id %}
                  <div class="translation {{ translation.administrative_status_id }}" title="{% blocktrans with status=translation.administrative_status %}A term marked “{{ status }}”{% endblocktrans %}">
                  {% else %}
                    <div class="translation" title="{% trans 'A suggested term' %}" lang="{{ current_language.iso_code }}">
                  {% endif %}
                        {{ translation.translation_text }}
                    </div>
                {% endfor %}

                {% if may_edit %}
                  {{ form.translation }}
                {% endif %}
                {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
                <p>
                  {% if translations|length > 1 %}
                  <a href="{% url "myadmin:terminator_translation_changelist" %}?concept__id__exact={{ concept.pk }}&language__iso_code__exact={{ current_language.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise term information" %}</a>
                  {% elif translations|length == 1 %}
                  {% with translation=translations|first %}
                  <a href="{% url "myadmin:terminator_translation_change" translation.id %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise term information" %}</a>
                  {% endwith %}
                  {% endif %}
                </p>
                {% endif %}
                {% if definition or may_edit %}
                   <div title="{% if definition.is_finalized %}{% trans "The definition marked as final" %}{% elif definition %}{% trans "A suggested definition"%}{% endif %}">
                  {{ form.definition }}
                  {% with last_change=definition.history.latest %}
                      {% if last_change and last_change.history_user %}
                      <div class="definition-extras" title="{{ last_change.history_date }}">―
                          <a href="{% url "profiles_profile_detail" username=last_change.history_user %}">
                              {{ last_change.history_user }}</a>
                          ({{ last_change.history_date|naturalday }})
                      </div>
                      {% endif %}
                  {% endwith %}
                  </div>
                {% endif %}
                {% if definition and "is_lexicographer_in_this_glossary" in glossary_perms %}
                  <p>
                    {% if definition.is_finalized %}
                      <a href="{% url "admin:terminator_definition_change" definition.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Revise definition" %}</a>
                    {% else %}
                      <a href="{% url "admin:terminator_definition_change" definition.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise definition" %}</a>
                    {% endif %}
                  </p>
                {% endif %}
                {% if may_edit %}
                <div>
                    <input type="Submit" value="{% trans "Submit" %}" />
                </div>
                {% endif %}
            </form>
        </div>
    {% block reference_material %}
    {% endblock %}
    </div>

    {% block prev_next %}
        {% include "terminator/prev_next_concept_snippet.html" with concept=concept target="terminator_concept_source" %}
    {% endblock prev_next %}

    {% endblock contributions %}

    {% include "terminator/mono_comments_snippet.html" %}

    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
      <p>
        <a href="{% url "admin:terminator_conceptinlanguage_change" concept_in_lang.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise whole entry" %}</a>
      </p>
    {% endif %}


{% endblock %}

{% block specificsidebar %}
    <ul>
        {# #TODO add more links to specific sidebar #}
        {% cache 600 concept_others concept.pk %}
        {% include "terminator/other_concepts_snippet.html" with concept=concept %}
        {% endcache %}
        {% if user.is_authenticated %}
          <li><a href="{% url "terminator_glossary_concepts" pk=concept.glossary.pk %}">{% trans "See all glossary concepts" %}</a></li>
        {% endif %}
    </ul>

    <hr />
{% endblock %}

