{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block breadcrumbs %}
    » <a href="{% url "terminator_glossary_detail" pk=concept.glossary.pk %}">{{ concept.glossary }}</a> » <a href="{% url "terminator_concept_detail" pk=concept.pk %}">{% blocktrans with concept_id=concept.pk %}Concept #{{ concept_id }}{% endblocktrans %}</a>{% if current_language %} » <a href="{% url "terminator_concept_detail_for_language" pk=concept.pk lang=current_language %}">{{ current_language }}</a>{% endif %}
{% endblock %}


{% block content %}


    <h1><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />Concept #{{ concept.pk }}</h1>

    {% get_obj_perms user for concept.glossary as "glossary_perms" %}

    <div class="flex">
        <div class="flexcol">
            <form method="post" action="">
                {% csrf_token %}
                {{ translation_form.as_p }}
                {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                    <input type="Submit" value="Submit" />
                {% endif %}
            </form>
        </div>
    </div>


    {% if "is_terminologist_in_this_glossary" in glossary_perms %}
    <p>
      <a href="{% url "myadmin:terminator_translation_changelist" %}?concept__id__exact={{ concept.pk }}&language__iso_code__exact={{ current_language }}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise term information" %}</a>
    </p>
    {% endif %}


{% endblock %}

{% block specificsidebar %}

    <hr />
{% endblock %}

