{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}
    {% blocktrans %}{{ concept }} — Terminator{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    » <a href="{% url "terminator_glossary_detail" pk=concept.glossary.pk %}">{{ concept.glossary }}</a>
    » <a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a>
{% endblock %}


{% block content %}

    {% get_obj_perms user for concept.glossary as "glossary_perms" %}


    <h1><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{{ concept }}</h1>


    {% if concept.source_language_finalized %}
        <p>{% blocktrans %}The information in the source language is finalized.{% endblocktrans %}</p>
        <h4><a href="{% url "terminator_concept_detail_for_language" pk=concept.pk lang=concept.glossary.source_language_id %}">View full information for the source language</a></h4>


    {# TODO: Enforce/suggest work according to ideal workflow + user's prefered language  #}
    {% with used_languages=concept.get_list_of_used_languages %}
      {% if used_languages %}
        <div class="language_link_list align_left_list">
        {% for lang in used_languages %}
            {% if lang.pk != concept.glossary.source_language_id %}
                <a href="{% url "terminator_concept_detail_for_language" pk=concept.pk lang=lang.pk %}" class="language_link">{{ lang }}</a>
            {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% else %}
        <p>{% blocktrans %}The information in the source language has to be finalized before work can commence on the other languages.{% endblocktrans %}</p>
        <h2><a href="{% url "terminator_concept_source" pk=concept.pk %}">{% trans "Go to the work area for the source language" %}</a></h2>
    {% endif %}


    {% get_current_language as LANGUAGE_CODE %}
    <p>
    {% with prev_concept=concept.prev_concept %}
        {% if prev_concept %}
          <a href="{% url "terminator_concept_detail" pk=prev_concept.id %}">← Previous concept</a>
        {% endif %}
    {% endwith %}
    {% with next_concept=concept.next_concept %}
        {% if next_concept %}
          <a style="float: right;" href="{% url "terminator_concept_detail" pk=next_concept.id %}">Next concept →</a>
        {% endif %}
    {% endwith %}
    </p>


    {% if concept.subject_field %}
    <p><b>{% trans "Subject field:" %}</b> <a href="{% url "terminator_concept_detail" pk=concept.subject_field.pk %}">{{ concept.subject_field }}</a></p>
    {% endif %}

    {% if concept.broader_concept %}
    <p><b>{% trans "Broader concept:" %}</b><a href="{% url "terminator_concept_detail" pk=concept.broader_concept.pk %}">{{ concept.broader_concept }}</a></p>
    {% endif %}

    {% if concept.related_concepts.all %}
    <p><b>{% trans "Related concepts:" %}</b></p>
    <ul class="itemlist">
    {% for related_concept in concept.related_concepts.all %}
        <li class="conceptitem">
            <a href="{% url "terminator_concept_detail" pk=related_concept.pk %}">{{ related_concept }}</a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
        <p><a href="{% url "admin:terminator_concept_change" concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this concept" %}</a> &nbsp; &nbsp;
        <a href="{% url "admin:terminator_concept_delete" concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" />{% trans "delete this concept" %}</a></p>
    {% endif %}


{% endblock %}


{% block specificsidebar %}

    <ul>
        {# #TODO add more links to specific sidebar #}
        {% with other_concepts=concept.glossary.concept_set.all %}
            <li>
                <ul class="concept_list">
                {% for other_concept in other_concepts|slice:":10" %}
                    <li><a href="{% url "terminator_concept_detail" pk=other_concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_concept_16.png" />{{ other_concept }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% if other_concepts|length > 10 %}
                <li><a href="{% url "terminator_glossary_detail" pk=concept.glossary.pk %}">{% trans "See all glossary concepts" %}</a></li>
            {% endif %}
        {% endwith %}
    </ul>

    <hr />
{% endblock %}

