{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}
    {% blocktrans with language=concept.glossary.source_language %}{{ concept }} — {{ language }} — Terminator{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    » <a href="{% url "terminator_glossary_detail" pk=concept.glossary.pk %}">{{ concept.glossary }}</a>
    » <a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a>
    » <a href="{% url "terminator_concept_detail_for_language" pk=concept.pk lang=current_language.pk %}">{{ concept.glossary.source_language }}</a>
{% endblock %}


{% block content %}


    <h1><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{{ concept }}</h1>

    <div class="flex">
        <div class="flexcol">
            <form method="post" action="">
                {% csrf_token %}
                {% for translation in translations %}
                  {% if translation.administrative_status_id %}
                  <div class="translation" title="{% blocktrans with status=translation.administrative_status %}A term marked “{{ status }}”{% endblocktrans %}">
                  {% else %}
                    <div class="translation" title="{% trans 'A suggested term' %}">
                  {% endif %}
                        {{ translation.translation_text }}
                    </div>
                {% endfor %}

                {% if may_edit %}
                  {{ form.translation }}
                {% endif %}
                {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
                <p>
                  {% if translations|length > 1 %}
                  <a href="{% url "myadmin:terminator_translation_changelist" %}?concept__id__exact={{ concept.pk }}&language__iso_code__exact={{ current_language.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise term information" %}</a>
                  {% elif translations|length == 1 %}
                  {% with translation=translations|first %}
                  <a href="{% url "myadmin:terminator_translation_change" translation.id %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise term information" %}</a>
                  {% endwith %}
                  {% endif %}
                </p>
                {% endif %}
                {% if definition or may_edit %}
                  {{ form.definition }}
                {% endif %}
                {% if definition and "is_lexicographer_in_this_glossary" in glossary_perms %}
                  <p>
                    {% if definition.is_finalized %}
                      <a href="{% url "admin:terminator_definition_change" definition.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Revise definition" %}</a>
                    {% else %}
                      <a href="{% url "admin:terminator_definition_change" definition.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise definition" %}</a>
                    {% endif %}
                  </p>
                {% endif %}
                {% if may_edit %}
                <div>
                    <input type="Submit" value="Submit" />
                </div>
                {% endif %}
            </form>
        </div>
    </div>


    <p>
    {% with prev_concept=concept.prev_concept %}
        {% if prev_concept %}
          <a href="{% url "terminator_concept_source" pk=prev_concept.id %}">← Previous concept</a>
        {% endif %}
    {% endwith %}
    {% with next_concept=concept.next_concept %}
        {% if next_concept %}
          <a style="float: right;" href="{% url "terminator_concept_source" pk=next_concept.id %}">Next concept →</a>
        {% endif %}
    {% endwith %}
    </p>


    {% include "terminator/mono_comments_snippet.html" %}

    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
      <p>
        <a href="{% url "admin:terminator_conceptinlanguage_change" comments_thread.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Finalise whole entry" %}</a>
      </p>
    {% endif %}


{% endblock %}

{% block specificsidebar %}

    <hr />
{% endblock %}

