{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}
    {% blocktrans %}{{ concept }} — Terminator{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    » <a href="{% url "terminator_glossary_detail" pk=concept.glossary.pk %}">{{ concept.glossary }}</a>
    » <a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a>
{% endblock %}


{% block content %}
    
    {% get_obj_perms user for concept.glossary as "glossary_perms" %}
    
    
    <h1><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{{ concept }} — {{ current_language }}</h1>
    

    {% if concept.source_language_finalized %}
      {% if finalized %}
        {# TODO: implement terminator_concept_edit for any language #}
        <p><a href="{% url "terminator_concept_source" pk=concept.pk %}">View work area for this language</a></p>
      {% else %}
        <p>{% blocktrans %}The entry for this language is still under development.{% endblocktrans %}</p>
        {# TODO: implement terminator_concept_edit for any language #}
        <p class="important"><a href="{% url "terminator_concept_source" pk=concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "Go to the work area for this language" %}</a></p>
      {% endif %}

    {# TODO: Emphasize to the user's preferred languages #}
    {% with used_languages=concept.get_list_of_used_languages %}
      {% if used_languages %}
        <div class="language_link_list align_left_list">
        {% for lang in used_languages %}
            {% if lang.pk != current_language.pk %}
                <a href="{% url "terminator_concept_detail_for_language" pk=concept.pk lang=lang.pk %}" class="language_link">{{ lang }}</a>
            {% else %}
                {# TODO: implement terminator_concept_edit for any language #}
                <span class="current_language"><a href="{% url "terminator_concept_source" pk=concept.pk %}">{{ lang }}</a></span>
            {% endif %}
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% else %}
        <p>{% blocktrans %}The information in the source language has to be finalized before work can commence on the other languages.{% endblocktrans %}</p>
        <p class="important"><a href="{% url "terminator_concept_source" pk=concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />Go to the work area for the source language</a></p>
    {% endif %}


    {% include "terminator/prev_next_concept_snippet.html" with concept=concept target="terminator_concept_detail" %}
    {% if finalized %}
      {% include "terminator/summary_message_snippet.html" %}
      {% include "terminator/translations_snippet.html" %}
      {% include "terminator/definitions_snippet.html" %}
    {% endif %}
    {% include "terminator/external_resources_snippet.html" %}
    
{% endblock %}



{% block specificsidebar %}
    
    <ul>
        {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
            <li><a href="{% url "admin:terminator_concept_add" %}?glossary={{ concept.glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "Add new concept" %}</a></li>
        {% endif %}
        {# #TODO add more links to specific sidebar #}
        {% include "terminator/other_concepts_snippet.html" with concept=concept %}
        <li><a href="{% url "terminator_glossary_concepts" pk=concept.glossary.pk %}">{% trans "See all glossary concepts" %}</a></li>
    </ul>
    
    <hr />
{% endblock %}

