{% load i18n %}

{% comment %}
Copyright 2012 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% with definition=concept_in_lang.definition %}
  {% if definition %}
    <h2 id="definition_list">{% trans "Definition" %}</h2>

    <ul class="itemlist">
        <li class="definitionitem">
        <p{% if not definition.is_finalized %} class="not_finalized_item"{% endif %}>
        {{ definition.text|linebreaksbr }}
        {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
            &nbsp; &nbsp; <a href="{% url "admin:terminator_definition_change" definition.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit" %}</a>
        {% endif %}
        </p>
        {% if not definition.is_finalized %}<p><span class="not_finalized">{% trans "(Not finalized)" %}</span></p>{% endif %}

        {% if definition.source %}<p class="gray_text"><b>{% trans "Source:" %}</b> <a href="{{ definition.source }}">{{ definition.source|truncatechars:70 }}</a></p>{% endif %}
        </li>
  {% endif %}
{% endwith %}
</ul>
