{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}
{% load cache %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}
    {% blocktrans %}{{ glossary }} — Terminator{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}
    » <a href="{% url "terminator_glossary_list" %}">{% trans "Glossaries" %}</a>
    » <a href="{% url "terminator_glossary_detail" pk=glossary.pk %}">{{ glossary }}</a>
{% endblock %}


{% block wide_content %}
    
    {% get_obj_perms user for glossary as "glossary_perms" %}
    {% get_current_language as LANGUAGE_CODE %}
    
    
    <h1><img src="{{ STATIC_PREFIX }}images/icon_glossary_32.png" />{{ glossary.name }}</h1>
    
    <p>{{ glossary.description|linebreaks }}</p>

    {% if glossary.subject_fields.exists %}
    <p>
    <b>{% blocktrans count fields=glossary.subject_fields.count %}Subject field:{% plural %}Subject fields:{% endblocktrans %}</b>
      <ul class="iconlist">
      {% for concept in glossary.subject_fields.all %}
        <li class="conceptitem"><a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a></li>
      {% endfor %}
      </ul>
    </p>
    {% endif %}

    {% if "owner" in glossary_perms %}
        <p><a href="{% url "admin:terminator_glossary_change" glossary.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this glossary" %}</a></p>
    {% endif %}

    <h2><img src="{{ STATIC_PREFIX }}images/icon_concept_24.png" />
            {% blocktrans %}Concepts{% endblocktrans %}</h2>

    {% cache 300 glossary_detail_list glossary.pk user.is_authenticated LANGUAGE_CODE %}
    <ul class="iconlist halfvertflexlist">
    {% for concept in glossary.concept_set.all|slice:":17" %}
        <li class="conceptitem"><a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a></li>
    {% endfor %}
    {% if glossary.concept_set.all.count > 20 %}
        <li class="conceptitem">...</li>
      </ul>
      {% if user.is_authenticated %}
        <p><b><a href="{% url "terminator_glossary_concepts" pk=glossary.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_glossary_16.png" />{% trans "See all concepts in this glossary" %}</a></b></p>
      {% endif %}
    {% else %}
      {% for concept in glossary.concept_set.all|slice:"17:20" %}
        <li class="conceptitem"><a href="{% url "terminator_concept_detail" pk=concept.pk %}">{{ concept }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
    {% endcache %}

    {% if "terminologist" in glossary_perms %}
        <p><a href="{% url "admin:terminator_concept_add" %}?glossary={{ glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new concept to this glossary" %}</a></p>
    {% endif %}

    {% cache 60 glossary_detail_recent glossary.pk LANGUAGE_CODE %}
    <div class="two_columns_index_row">
      {% include "terminator/latest_changes_snippet.html" with rss=False changes=glossary.get_recent_changes %}
      {% include "terminator/latest_comments_snippet.html" with rss=False%}
    </div>
    {% endcache %}

    {% if user.is_authenticated %}
       {% cache 3600 glossary_detail_collaborators glossary.pk LANGUAGE_CODE %}
        <div class="two_columns_index_row">
          <div class="index_double_column">
          <h2><img src="{{ STATIC_PREFIX }}images/icon_user_24.png" />
                {% blocktrans %}Glossary collaborators{% endblocktrans %}</h2>
        {% with glossary.get_collaborators as collaborators %}
            {% if collaborators %}
                <ul class="iconlist halfvertflexlist">
                {% for collaborator in collaborators %}
                    <li class="useritem">
                        {% url "profiles_profile_detail" username=collaborator.user as profile_url %}
                        {% blocktrans with collaborator=collaborator.user role=collaborator.role %}<a href="{{ profile_url }}">{{ collaborator }}</a> as {{ role }}{% endblocktrans %}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>{% blocktrans %}This glossary has no collaborators.{% endblocktrans %}</p>
            {% endif %}
        {% endwith %}
          </div>
        </div>
        {% endcache %}

        {% if features.subscription %}
        <p>{% blocktrans %}Do you want to receive e-mail notifications of all comments in this glossary?{% endblocktrans %}</p>
        {% include "glossary_subscribe_form_snippet.html" %}
        {% endif %}

        {% if features.collaboration %}
        <p>{% blocktrans %}Do you want to collaborate on this glossary?{% endblocktrans %}</p>
        {% include "glossary_collaboration_request_form_snippet.html" %}
        {% endif %}
    {% endif %}

    {% if features.export_tbx and user.is_authenticated %}
        <p><a href="{% url "terminator_export" %}?from_glossaries={{ glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_tbx_16.png" /> {% trans "export glossary to TBX" %}</a></p>
    {% endif %}

{% endblock %}
