{% load comments %}
{% load i18n %}

<div class="rss" title="{% trans "RSS feed with latest comments here" %}"><a href="{% url "terminator_feed_commentthread" concept_id=comments_thread.concept_id language_id=comments_thread.language_id %}"><img src="{{ STATIC_PREFIX }}images/svg/icon_rss2.svg" width="24" /></a></div>
<h2 id="comment_list">{% trans "Comments" %}</h2>

<div class="comment_block">
{% if comments_thread %}
    {% get_comment_count for comments_thread as comment_count %}
    <div class="comment_list_header">
        <div class="comment_list_count"><b>{% blocktrans count count=comment_count %}{{ count }} comment{% plural %}{{ count }} comments{% endblocktrans %}</b></div>
        <div class="comment_list_feed">
        </div>
    </div>

    {% render_comment_list for comments_thread %}

{% endif %}
    <div id="comment_form">
    {% if user.is_authenticated %}
        {% render_comment_form for comments_thread %}
    {% else %}
        {# #TODO redirecting to the comment form doesn't work because when login with a next url, login removes the comment_form anchor from the next url #}
        {% url "login" as login_url %}
        {% blocktrans %}You need to <a href="{{ login_url }}?next={{ next }}#comment_form">log in</a> if you want to comment.{% endblocktrans %}
    {% endif %}
    </div>
</div>
