{% load i18n %}

{% comment %}
Copyright 2012 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% if current_language %}
    {% if concept_in_language.is_finalized %}
        <h2>{% trans "Summary message" %}</h2>
        <div class="summary">
            <p><i>{% blocktrans with submit_date=concept_in_language.date %}Finalized on {{ submit_date }}:{% endblocktrans %}</i></p>
            <p>{{ concept_in_language.summary|linebreaksbr }}</p>
            {% if "terminologist" in glossary_perms %}
                <a href="{% url "admin:terminator_conceptinlanguage_change" concept_in_lang.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this summary message" %}</a>
            {% endif %}
        </div>
    {% else %}
        {% if "terminologist" in glossary_perms %}
            <p><a href="{% url "admin:terminator_conceptinlanguage_change" concept_in_lang.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% blocktrans with language=current_language %}Finalize this concept in {{ language }}{% endblocktrans %}</a></p>
        {% endif %}
    {% endif %}
{% endif %}
