{% load i18n %}

{% comment %}
Copyright 2012 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% if translations %}
<h2>{% trans "Terms" %}</h2>
<ul class="itemlist">
  {% for translation in translations %}
    <li class="translation_entry">
    {% if not translation.is_finalized %}<span class="not_finalized_item">{% endif %}
    <h3><b>{{ translation.translation_text }}</b>
    
    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
        &nbsp; &nbsp; <a href="{% url "admin:terminator_translation_change" translation.id %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit term" %}</a>
    {% endif %}
    </h3>
    
    <p>
    <b>{% trans "Status:" %}</b>
    {% if not translation.is_finalized %}<span class="not_finalized">{% trans "(Not finalized)" %}</span>{% endif %}
    {% if translation.administrative_status %}{{ translation.administrative_status }}{% endif %}
    {% if translation.administrative_status_reason %}&nbsp; <b>{% trans "Reason:" %}</b> {{ translation.administrative_status_reason }}{% endif %}
    </p>
    
    {% if translation.part_of_speech %}<p><b>{% trans "Part of speech:" %}</b> {{ translation.part_of_speech }}{% endif %}
    {% if translation.grammatical_gender %} — {{ translation.grammatical_gender }}{% endif %}
    {% if translation.grammatical_number %} — {{ translation.grammatical_number }}{% endif %}
    {% if translation.part_of_speech %}</p>{% endif %}
    
    {% if translation.note %}<p><b>{% trans "Note:" %}</b> {{ translation.note }}</p>{% endif %}
    
    
    {% if translation.contextsentence_set.all %}
        <div class="translation_subcomponent">
            <h4>{% trans "Example sentences" %}</h4>
            <ul>
            {% for context_sentence in translation.contextsentence_set.all %}
                <li class="contextsentenceitem">{{ context_sentence.text }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    
    {% if translation.corpusexample_set.all %}
        <div class="translation_subcomponent">
            <h4>{% trans "Links to real use examples" %}</h4>
            <ul>
            {% for corpus_example in translation.corpusexample_set.all %}
                <li class="corpusexampleitem">
                <a href="{{ corpus_example.address }}">
                {% if corpus_example.description %}{{ corpus_example.description }}
                {% else %}
                {{ corpus_example.address|truncatechars:70 }}
                {% endif %}
                </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if not translation.is_finalized %}</span>{% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
